main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop{
        margin-top: 2em;
    }
    width: 100vw;
    font-family: $title;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    @include desktop{
        margin-top: 3em;
    }
}

button{
    background-color: white;
    border-radius: 0.25em;
    display: flex;
    margin: 0.5em;
    font-family: $subhead;
    font-size: 1.2em;
    text-transform: uppercase;
    color: $primaryColor;
    border: none;
    padding:0 0.5em;
    @include tablet{
        font-size: 1.5em;
        padding:0 0.5em;
    }
}
button[disabled]{
    opacity: 0.25;
}
