// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop{
        margin-top: 2em;
    }
    width: 100vw;
    font-family: $title;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    @include tablet{
        margin-left: 9em;
        &.question-shift-2, &.question-shift-4{
            margin-left: 0;
        }
    }
    @include desktop{
        margin-left: 9em;
        &.question-shift-2, &.question-shift-4{
            margin-left: 0;
        }
    }
}

button{
    font-family: $button-text;
    background-color: white;
    border-radius: 0.25em;
    display: flex;
    margin: 0.5em;
    font-size: 1.2em;
    text-transform: uppercase;
    color: $primaryColor;
    border: none;
    padding:0 0.5em;
    @include tablet{
        font-size: 1.25em;
        padding:0 0.5em;
    }
    @include desktop{
        font-size: 1.25em;
        padding:0 0.5em;
    }
}
button[disabled]{
    opacity: 0.25;
}
