.question-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    &.question{
        &-0{
            &::after{
                content: "";
                width: 13em;
                height: 12.5em;
                background-image: url('../public/Images/q1_image1.png');
                background-size: cover;
                z-index: 30;
                position: absolute;
                top: 2em;
                right: 50%;
                margin-right: -6em;
                pointer-events: none;
                @include tablet{
                    width: 15em;
                    height: 20em;
                    margin-right: 11em;
                    top: 6em;
                    margin-right: 7.8em;
                    border: 1px solide white;
                }
                @include desktop{
                    width: 21em;
                    height: 28em;
                    margin-right: 11em;
                    top: 7em;
                    margin-right: 9.25em;
                }
            }
            
            &::before{
                @include tablet{
                    content: "";
                    z-index: -100;
                    width: 25em;
                    height: 30em;
                    background-image: url('../public/Images/q1_image2.png');
                    background-size: cover;
                    position: absolute;
                    top: 0em;
                    left: 50%;
                    margin-left: 5em;
                }
                @include desktop{
                    width: 37em;
                    height: 42em;
                    top: -3em;
                    margin-left: 8em;
                }
            }
            
        }
        &-1{
            span{
                @include tablet{
                    display: block;
                }
                @include desktop{
                    display: block;
                }
            }
            &::after{
                content: "";
                width: 18em;
                height: 12.5em;
                background-image: url('../public/Images/q2_image1.png');
                background-size: cover;
                z-index: 30;
                position: absolute;
                top: 2em;
                right: 50%;
                margin-right: -13em;
                pointer-events: none;
                @include tablet{
                    width: 17em;
                    height: 23em;
                    margin-right: 5em;
                    top: 4em;
                }
                @include desktop{
                    width: 24em;
                    height: 30em;
                    margin-right: 3em;
                    top: 5em;
                }
            }
            &::before{
                @include tablet{
                    content: "";
                    z-index: -100;
                    width: 20em;
                    height: 35em;
                    background-image: url('../public/Images/q2_image2.gif');
                    background-size: cover;
                    position: absolute;
                    top: -4em;
                    left: 50%;
                    margin-left: 8em;
                }
                @include desktop{
                    width: 25em;
                    height: 45em;
                    top: -3em;
                    margin-left: 11em;
                }
            }
        }
    }
    .question-header{
        margin-top: 6em;
        width: 80vw;
        .special-word{
            display: inline-flex;
            flex-direction: column;
            &::after{
                content:"";
                margin-top: 0.125em;
                width: 4.25em;
                height: 0.35em;
                background-image: url('../public/Images/lines_01.png');
                background-size: contain;
            }
        }
        @include tablet{
            margin-top: 0.75em;
            width: 70vw;
            // margin-left: 2em;
        }
        @include desktop{
            margin-top: 0em;
        }
    }
    .question-header-text{
        font-size: 2em;
        text-align: center;
        line-height: 1.125em;
        border-top: 1px solid white;
        padding-top: 0.5em;
        text-transform: uppercase;
        @include tablet{
            border-top: 0px solid white;
            font-size: 1.75em;
        }
        @include desktop{
            font-size: 2.5em;
        }
    }
}
.selection-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    @include tablet{
        grid-template-columns: 1fr 1fr;
        gap: 1.25em;
    }
    @include desktop{
        gap: 2em;
    }
}
.selection{
    display: flex;
    background-color: $textColor;
    color: $primaryColor;
    justify-content: center;
    align-items: center;
}
[type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + img {
    cursor: pointer;
    width: 9em;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.2em;
    transform: scale(0.9);
    transition: transform, border-radius;
    transition-duration: 0.5s, 0.5s;
    @include tablet{
        width: 8.5em;
    }
    @include desktop{
        width: 9.5em;
    }
    
}
[type=radio]:checked + img {
    // border: 5px solid rgb(22, 0, 219);
    // border-style: outset;
    border-radius: 1em;
    box-sizing: border-box;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(53, 5, 5, 0.5), 0px 0px 5px rgba(67, 40, 224, 0.7);
}
