//colors
$primaryColor: #CE0E2D;
$secondaryColor: #878787;
$textColor: white;

$title: 'Oswald', sans-serif;
$subhead: $title;
// $subhead: 'Roboto Condensed', sans-serif;
$bodycopy: $subhead;
$light: 300;
$regular: 400;
$bold: 700;
$heavy: 900;

//font size
$large: 3em;
$medium: 1.5em;
$small: 1em;
$tiny: 0.5em;