//colors
$primaryColor: #CE0E2D;
$darkerPrimaryColor: #9f0b23;
$secondaryColor: #878787;
$textColor: white;
$slotBackgroundColor: #f0e5e5;
$slotTextColor: #252525;


$title: 'Open Sans Condensed', sans-serif;
$subhead: 'Roboto Condensed', sans-serif;
$button-text: $title;
$body-copy: 'Roboto Condensed', sans-serif;
// $subhead: 'Roboto Condensed', sans-serif;
$bodycopy: $subhead;
$light: 300;
$regular: 400;
$bold: 700;
$heavy: 900;

//font size
$large: 3em;
$medium: 1.5em;
$small: 1em;
$tiny: 0.5em;