@import './partials/fonts';
@import './partials/variables';
@import './partials/mixins';
@import './partials/main';
@import './partials/global';
@import './partials/header';
@import './partials/intro';
@import './partials/footer';
@import './partials/question';
@import './partials/progress';
@import './partials/form';
@import './partials/externalContent';
@import './partials/consclusion';
// @import './partials/triviaResult';
@import './partials/accordion';

// @import './partials/accodionResult';
// @import './partials/accordionTAF';

html{
    font-size: 16px;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}